@media screen and (max-width: 430px) {
  div.profile-posts {
    padding: 80px 10px;
  }
  div.profile-post {
    width: 170px;
    height: 170px;
  }
  button.profile-post-action {
    padding: 4px 10px;
    font-size: 15px;
  }
  span.profile-post-header {
    font-size: 18px;
  }
}
